.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.addButton {
  margin-top: 15px;
}

.addButton,
.updateButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.addButton:disabled,
.updateButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.listContainer {
  margin-top: 20px;
  text-align: left;
}

.nameList {
  list-style-type: none;
  padding: 0;
}

.nameItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 37, 37);
}
